:root{
    --primary-color: rgb(217, 217, 217);
    --secondary-color:rgb(233, 233, 233);
    --Tertiary-color:rgb(255, 255, 255);
    --primary-font-size: 15px;
}

*{
    
    font-family: 'Poppins';
}

footer{
  background-color: var(--secondary-color);
  margin-top: 625px;
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  
}

footer p{
  
}
header {
    background-color: var(--primary-color);
    padding-top: 25px;
    padding-bottom: 25px;
    position: fixed;
    
    top: 0;
    right: 0;
    left: 0;
    
  }
  
  header ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right; /* embuat teks di dalam header rata kanan */
  }
  
  header li {
  
    display: inline-block;
    margin-right: 45px; /* Sesuaikan margin sesuai kebutuhan */
    font-size: var(--primary-font-size);
}
  /* header li :hover{
    background-color: var(--secondary-color);
    
  } */
  .tag{
    padding-inline-start: 0px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* background-color: black; */
    gap: 5px;
    justify-content: center;
    /* justify-content: center; */
    align-content: stretch;
    

  }

  .tag li{
    padding: 8px 30px 8px 30px;
    background-color: var(--primary-color);
    border-radius: 9px;
    display: inline-block;
    /* margin-right: 10px; Sesuaikan margin sesuai kebutuhan */
    margin-bottom: 20px;
  }

  .tag li:hover{
    background-color: #CCCBCB;
  }

  

  .title{
    display: flex;
    justify-content: center;
  }
  a{
    text-decoration: none;
    color: black;
  }
  
main{
    margin-top: 135px;
    margin-left: 50px;
    margin-bottom: 70px;

}

.icon{
  width: 55px;
  height: 50px;
  margin-right: 10px;
  margin-top: 21px;
}

/* Home */
main .home{
  margin-top: 255px;
  margin-left: 50px;

}

.home button{
  padding: 14px 40px;
  border-radius: 102px;
  border: 2px solid var(--Tertiary-color);
}

.home table{
  margin-left: 80px;
}
.home h1{
  line-height: 70px;
  font-size: 40px;

}
.home td:last-child{
  padding-left: 100px;
  padding-top: 80px;
}
aside {
  float: left;
  padding-top:35px;
  padding-bottom: 25px;
  padding-right: 10px;
  background-color: var(--primary-color);
  top: 0;
  right: 0;
  margin-top: -310px;
  margin-left: -8px;
  /* border-radius: 12px; */
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  
}

aside ul {
  
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; /* embuat teks di dalam header rata kanan */
}


/* aside li{
  
  
} */

.logo{
  margin: 5px;
  width: 30px;
}


.home .profile{
  justify-content: center;
  width: 350px;
  margin-left: 100px;
}

/* About */
.about .profile{
  width: 325px;
}
.about p {
  line-height: 40px;
  width: 700px;
  font-size: large;
  text-align: justify;
  
}
.about table {
  display: flex;

  justify-content:space-between;
  padding-left: 125px;
}

.about td:first-child{
  padding-right: 115px;
}
.about td:last-child{
  
  max-width: 500px;
}

/* Portofolio */
.portofolio, .certificate, .contact{
  margin-left: 318px;
  margin-right: 317px;
}


.portofolio .subTittle{
  text-align:center;
}

.contents{
  width: 772px;
  height: max-content;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

/* .contentLeft{
  width: 371px;
  height: 360.6px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.contentRight{
  width: 371px;
  height: 360.6px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  
  background-color: var(--primary-color);
} */

.content{
  background-color: var(--primary-color);
  width: 371px;
  height: 360.6px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.contentTittle{
  margin-top: 290px;
  height: 72px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--secondary-color);
}

.contentTittle p{
  padding-top: 22px;
  text-align: center;
}

.contentText{
  display: none;
  
}
.contentText p{
  text-align: justify;
  margin-left: 30px;
  margin-right: 30px;
}
.content:hover{
  
  .contentTittle{
    margin-top: 90px;
    border-radius: 0px;
  }
  .contentText{
    padding-top: 5px;
    display: block;
    /* margin-top: -16px; */
    height: 200px;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  
}

/* Certificate */
.subMenu{
    padding-inline-start: 0px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* align-items: flex-start; */
    /* background-color: black; */
    gap: 5px;
    justify-content: center;
    /* justify-content: center; */
    align-content: stretch;
  }
  .subMenu li{
    padding: 8px 30px 8px 30px;
    
    border-radius: 9px;
    display: inline-block;
    /* margin-right: 10px; Sesuaikan margin sesuai kebutuhan */
    margin-bottom: 20px;
  }

  .subMenu li:hover{
    background-color: var(--primary-color);
  }

  /* Contact */
  .formBox{
    margin-top: 30px;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: var(--primary-color);
  }
 
  #name ,#email, #message{
    height: 50px;
    width: 650px;
    background-color: white;
    border: 2px solid white;
    margin: 5px;
    border-radius: 15px;
    padding-left: 30px;
  }
  #message{
    height: 100px;
  }
  
  #submit{
    background-color: #CCCBCB;
    font-size: 25px;
    border-radius: 15px;
    border: 2px solid #CCCBCB;
    width: 200px;
    height: 50px;
  }
  